#selector5,#selector1,#selector2,#selector3,#selector4,#selector5{
    width: 1050px;
    margin:0 auto;
    padding:0;
}

#selector3{
    width:1070px;
}
.item-list{
    width: 999px;
    margin:0 auto;
    padding:0;
}
a,a:hover{
    text-decoration: none;
}
ul,li{
    list-style:none;
}
#selector1{
    margin-top:10px;
}
.case-box{
    display:flex;
    justify-content: space-between;
}
.case-box a{
    position: relative;
    display: block;
    min-height: 70px;
    padding: 12px 15px;
    text-align: center;
    background: #FFF7F8;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
}
.case-box a:hover{
    background:rgba(255,247,248,0);
}

.case-box li {
    float: left;
    display: block;
    width: 182px;
    height: 70px;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition:all .3s linear;
}
.case-box li:hover{
    box-shadow: 0 0 0.2px 0.2px #9B9B9B ;
}
.case-box li .bg{
    position: absolute;
    top: 80px;
    right: 0;
    height: 74px;
    width: 168px;
    transition: all .2s linear 0s;
}
.case-box li.active .bg {
    top: 0px;
}

.case-box li .big-title{
    color: #FF8EA3;
    font-size: 20px;
    margin-bottom: 2px;
}
.case-box li.active .big-title{
    text-align:left;
}
.case-box li .small-title{
    font-size: 12px;
    color: #767676;
}
.case-box li.active .small-title{
    text-align:left;
}
.item-box .item-list .item:nth-child(-n+9) {
    border-top: 1px solid #f7f7f7;
}
.item-box .item-list .item:first-child {
    -webkit-border-radius: 5px 0 0;
    -moz-border-radius: 5px 0 0;
    border-radius: 5px 0 0;
}
.item-box .item-list .item {
    float: left;
    display: block;
    width: 111px;
    height: 115px;
    border-left: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;

}
.nav{
    width: 100%;
    height: 50px;
    background-color: #84D8D0;
}
.nav-box{
    margin:0px auto;
    width: 1000px;
    height: 50px;
}
.nav .nav-box li:first-child {
    width: 136px;
}
.nav .nav-box li:nth-child(1) {
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.nav .nav-box li {
    float: left;
    position: relative;
}
.nav .nav-box .current,.nav .nav-box li a:hover{
    background-color: #4ec1b7;
}
.nav .nav-box li a {
    color: #fff;
}
.nav .nav-box li, .nav .nav-box li a {
    display: block;
    width: 104px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
#selector1:after,#selector2:after,#selector3:after,#selector4:after,.nav:after,.item-list:after{
    content:"";
    display:block;
    clear:both;
}
.icon-menu{
    height: 30px;
    width: 30px;
    margin: 0 auto 20px;
    overflow: hidden;
    display: block;
}
.top-item{
    display: block;
    color: #333;
    width: 100%;
    padding: 23px 0 20px;
    text-decoration: none;
}

#selector4 .title,#selector2 .title,#selector3 .title,#selector5 .title {
    border-left: 3px solid #73DACF;
    padding-left: 10px;
    color: #333;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}
.case-box a:hover,.item-list a:hover{
    text-decoration: none;
}
.item-box .item-list .item:nth-child(n+9) {
    padding-top: 1px;
}
.item-box .item-list .sub-box{
    flex-wrap: wrap;
    align-items: stretch;
    position: absolute;
    padding-top: 10px;
    top: 115px;
    left: 0;
    width: 100%;
    background: #fdfdfd;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    z-index: 99;
}
.item-box .item-list .item:nth-child(n+9) .sub-box{
    top: 215px;
    display:none;
}
.item-box .item-list .item:nth-child(-n+9) .sub-box{
    top: 115px;
    display:none;
}


.item-box .item-list .item.active .sub-box{
    display:block;
}
.item-box .item-list .item .sub-box .son {
    float: left;
    padding: 0 15px 20px;
    text-align: left;
    width:150px;
    height:100%;
    margin-left:30px;
}
.item-box .item-list .sub-box .son .title {
    display: inline-block;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 700;
}
.item-box .item-list .sub-box .son .content {
    padding-top: 10px;
    overflow: hidden;
}
.item-list{
    position:relative;
}
.col{
    float:left;
    margin-right:20px;
    height:80px;
}
.col a{
    display:block;
    height:14px;
    margin-top:5px;
}

.operation li {
    position: relative;
    float: left;
    display: block;
    width: 235px;
    height: 110px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 10px;
}
.operation li a{
     display:block;
     position:absolute;
     top:0;
     width:100%;
     height:100%;
 }
.operation li a .tagName {
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 22px;
    color: #535353;
}

.operation .tagName span {
    font-size: 12px;
    color: #767676;
    display: block;
}
.safe-items{padding-bottom:20px;}
.safe-items ul{
    margin:0 auto;
    padding:0;
    margin-top:30px;
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
}
.safe-items ul li{
    width:184px;
    height:276px;
}
.safe-items ul li a{
    text-decoration: none;
}
.safe-items ul li a img{
    width:184px;
    height:184px;
    border-radius:3px;
}
.safe-items ul li a .top-name{
    font-size: 16px;
    margin-top: 13px;
    text-align: center;
    color: #777;
}
.safe-items ul li a .host-name{
    font-size: 12px;
    text-align: center;
    color: #777;
    margin-top: 2px;
}
.safe-items ul li a .safe-price{
    color: #FF527F;
    margin-top: 11px;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}
.safe-price span{
    color: #CECECE;
    font-size: 12px;
}

#selector5{
    padding-top:30px;
}
#selector5 .select-ul{
    width:100%;
    height:40px;
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    background:#e3e3e3;
    border:1px solid #e8e8e8;
    padding:0;
    margin:0;
}
#selector5 .select-ul li{
    height:40px;
    width:120px;
    text-align:center;
    line-height: 40px;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
    margin:0;
}
#selector5 .select-ul li a{
    text-decoration:none;
    color: #777;
}
#selector5 .select-ul li:hover,#selector5 .select-ul a:hover{
    background: #fff;
    color: #2CC7C5;
    border-right: 1px solid #fff;
}
#selector5 .select-ul li input{
    height:70%;
    width:100px;
    padding:0;
    margin:0;
}
#selector5 .content-b{
    width:100%;
}
#selector5 .content-b .select-div{
    margin-top:10px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

}
#selector5 .select-div .pro-div{
    width:220px;
    height:350px;
    margin-top:30px;
    border:1px solid #9f9f9f;
}
#selector5 .select-div .pro-div img{
    width:218px;
    height:218px;
}
#selector5 .select-div .pro-div .top-info{
    font-size: 14px;
    color: #333;
    line-height: 22px;
}
#selector5 .select-div .pro-div  .hoc{
    width: 200px;
    margin-top: 10px;
    font-size: 12px;
    color: #777;
    letter-spacing: 0;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#selector5 .select-div .pro-div  .con-l{
    font-size: 20px;
    color: #FF527F;
    margin-right: 5px;
}
#selector5 .select-div .pro-div s{
    font-size: 12px;
    color: #777;
    letter-spacing: .69px;
}









